<!DOCTYPE html>
<!--[if lte IE 9]><html class="no-js is-ie"><![endif]-->
<!--[if gt IE 8]><!--><html class=no-js><!--<![endif]-->
<head>
	<meta charset="utf-8">

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	

	<title>Dojo Pong</title>
	<link rel=stylesheet href="css/main.css">
	<!--[if lte IE 8]>
	<link rel=stylesheet href="css/ie.css">
	<![endif]-->
		<script src="assets/vendor/modernizr.js"></script>

		<script src="assets/vendor/respond.min.js"></script>

</head>

<body>
	<div class="level level-hero hero-home has-hint">
		

		<div class="hero-overlay visible-lg"></div>

		<video loop id=bg-video class=fullscreen-video>
			<source src="assets/video.mov" type="video/webm">
		</video>


		<div class="container full-height">
			<div class=v-align-parent>
				<div class=v-center>
					<div class="row">
						<div class="col-xs-10 col-sm-6">
							<img src="assets/codingdojologo.png"><span id="king_quote">The North remembers. We know no king but the King in the North whose name is Stark. I don’t care if he’s a bastard. Ned Stark’s blood runs through his veins. He’s my king, from this day until his last day!”</span><br/><span id="king">Defender of the Dojo <%= @opponents.first.name.capitalize%></span>
							<h1 class="mb-10 heading">Team <%= @user.cohort %></h1>
							<div class="subheading mb-20"><span id="name_session"><%= @user.name %></span>  ( <%= @user.wins %>  -  <%= @user.losses %> )<br class=hidden-md></div>
						</div>
					</div>
					<div>
						<a class="btn btn-prepend btn-launch-video" data-method="delete" href="/sessions" >
							<i class="prepended icon-append-play"></i>Logout
						</a>
						
					</div>
				</div>
			</div>
			<div class=hint-arrow></div>
		</div>
	</div>

	
	

<!-- ****************************  Individual Standings	 -->
	<div class=level>

		<div class="container mb-100 xs-mb-40">
			<div class=row>
				<div class="col-sm-5 col-md-4 col-md-offset-2 col-sm-offset-1">
					<h1 class="mb-10 xs-mb-10 heading color-dark heading-bordered">INDIVIDUAL<br class=hidden-xs>STANDINGS</h1>
				</div>
				<div class="col-sm-5 col-sm-offset-1">
					<h2 class="w-300 color-dark mb-10 xs-mb-10">Breaktime is Showtime</h2>
					<p class="xs-mw">You are not playing for fun, you are representing your cohort</p>
				</div>
			</div>
		</div>

<!-- *********************   ranking table ******************************************* -->
		<div class="bootstrap-demo">
			<table class="table table-bordered"> <!-- bordered table class -->
			        <thead><!-- table head-->
			            <tr>
			               	<th>Rank</th>
			                <th>Player</th>
			                <th>Record</th>
			              	<th>Cohort</th>
			            </tr>
			        </thead>
					
			        <tbody>
			        <% x=1 %>
			        <% @opponents.each do |m| %>

			            <tr><!-- Row 1 -->
			                <td><%= x %></td>
			                <td><%= m.name.capitalize%></td>
			                <td><%= m.wins %> - <%= m.losses %></td>
			                <td><%= m.cohort %></td>
			            </tr>
			            <% x+=1%>
			        <%end%>
				   </tbody>
			</table>
 		</div>
 		<br>
 		<br>



		<div class="container">
			<div class="row mb-90 xs-mb-0">
				<div class="col-sm-1 col-sm-offset-2">
					<i class="icon icon-check"></i>
				</div>


				<div class="col-sm-3">
		 		<!-- Trigger the modal with a button -->
					<button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal">Record A Match</button>

					<!-- Modal -->
					<div class="modal fade" id="myModal" role="dialog">
						<div class="modal-dialog">

							<!-- Modal content-->
				  			<div class="modal-content" style="background-color: #FFDD88">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">&times;</button>
									<h4 class="modal-title">Record a Match</h4>
								</div>
				    			<div class="modal-body">

									<!-- ***************  modal menu for RECORD a MATCH ********************* -->
									<form action="/games" method="POST">
										<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
				      					<select name='game[winner_id]' placeholder="Winner"><br>
				      						<% @opponents.each do |m| %>
						    				<option value='<%= m.id %>'>Winner: <%= m.name.capitalize%></option>
						      				<%end%> 
						    			</select>

										<span>  defeated  </span>

										<select name='game[loser_id]' placeholder="Loser"><br>
				      						<% @opponents.each do |m| %>
						                		<option value='<%= m.id %>'>the Loser: <%= m.name.capitalize%></option>
						      				<%end%> 
						    			</select>
						    			Winner's Set Score: <input type="text" name="game[wscore]">
						    			Loser's Set Score: <input type="text" name="game[lscore]">
						    			<button value="submit" class="btn btn-default">submit</button>
									</form>
				    			</div>
				  			</div>
						</div>
					</div>
				</div>

<!-- ****************** record a game div ends  -->







<!-- *****************************   Submit a challenge  *************************** -->


				<% if @user.email == @opponents.first.email %>
					<div class="col-sm-1">
						<i class="icon icon-calendar"></i>
					</div>
					<div class="col-sm-3">
						<button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal2">Champion's Post</button>
					</div>
				<%end%>


				<!-- Modal -->
				<div class="modal fade" id="myModal2" role="dialog">
					<div class="modal-dialog">
				  		<!-- Modal content-->
				  		<div class="modal-content" style="background-color: #FFDD88;">
				    		<div class="modal-header">
				      			<button type="button" class="close" data-dismiss="modal">&times;</button>
				      			<h4 class="modal-title">Post Words of Wisdom</h4>
				    		</div>



		<!-- ***************************  fading modal for record a game *********************	 -->						    
				    		<div class="modal-body">
								<form action="/messages" method="POST">
	
				      				<form action="/messages" method="post">
										<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
										<div class="form-group">
											<label for ="content"></label><br/>
											<textarea name="message[content]" cols="50" rows="5"></textarea>

										</div>
										<button type="submit" class="btn btn-info">Create Message</button>
									</form>
				  			</div>
				  
						</div>
					</div>
					
				</div>

			</div>


		</div>
	




<!-- ***************************    RECENT MATCHES **************************** -->

		<div class="level level-img-right">

			<div class="container xs-mb-30">

				<div class="row mb-60 xs-mb-20">
					<div class="col-sm-6 col-lg-offset-1 col-lg-5">
						<h1 class="mb-20 xs-mb-10 heading color-dark heading-bordered xl-heading-outdent">Recent Matches</h1>
						<h2 class="w-300 color-dark mb-10">Let yourself down not your cohort</h2>
					<!-- 	<p class=xs-mw>All games are official. -->
					</div>
					<table class="table table-bordered"> <!-- bordered table class -->
				        <thead><!-- table head-->
				            <tr>
				               <th>Match</th>
				                <th>score</th>
				                <th>Winner</th>
				            </tr>
				        </thead>
						
				        <tbody>
				        
				      
				           
					   </tbody>
					</table>
				</div>
		</div>

		<div class="level level-img-right">

			<div class="container xs-mb-30">

				<div class="row mb-60 xs-mb-20">
					<div class="col-sm-6 col-lg-offset-1 col-lg-5">
						<h1 class="mb-20 xs-mb-10 heading color-dark heading-bordered xl-heading-outdent">Smacking Board</h1>
						<h2 class="w-300 color-dark mb-10">Play hard...then talk shit.</h2>
					<!-- 	<p class=xs-mw>All games are official. -->
					</div>
					
				</div>
		</div>


		</div>
	

	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.1.min.js"><\/script>')</script>

	<script src="assets/dropdown.js"></script>

	<script src="assets/main.js"></script>
	<!-- //-end- concat_js -->


	

</body>
</html>
