<!DOCTYPE html>
<!--[if lte IE 9]><html class="no-js is-ie"><![endif]-->
<!--[if gt IE 8]><!--><html class=no-js><!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta name="description" content="BlackTie Free Bootstrap Theme">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	

	<title>Dojo Pong</title>
	<link rel=stylesheet href="css/main.css">
	<!--[if lte IE 8]>
	<link rel=stylesheet href="css/ie.css">
	<![endif]-->
		<script src="assets/vendor/modernizr.js"></script>

		<script src="assets/vendor/respond.min.js"></script>

</head>

<body>
	<div class="level level-hero hero-home has-hint">
		

		<div class="hero-overlay visible-lg"></div>

		<video loop id=bg-video class=fullscreen-video>
			<source src="assets/video.mov" type="video/webm">
			

		</video>

		<div class="container full-height">
			<div class=v-align-parent>
				<div class=v-center>
					<div class="row">
						<div class="col-xs-10 col-sm-6">
							<img src="assets/codingdojologo.png">
							<h1 class="mb-10 heading">Ping Pong league<span>of Burbank Dojo</span></h1>
							<div class="subheading mb-20">Its not just breaktime from coding<br class=hidden-xs>its about bringing the CRUD to a semi sport </div>
						</div>
					</div>
					<div>
						<a class="btn btn-prepend btn-launch-video" href="/loginreg" >
							<i class="prepended icon-append-play"></i>Sign In
						</a>
						<a class="btn btn-prepend" href="loginreg">
							<i class="prepended icon-append-iphone"></i>Sign Up
						</a>
					</div>
				</div>
			</div>

			<div class=hint-arrow></div>
		</div>
	</div>

	
	

<!-- ****************************  Individual Standings	 -->
	<div class=level>

		<div class="container mb-100 xs-mb-40">
			<div class=row>
				<div class="col-sm-5 col-md-4 col-md-offset-2 col-sm-offset-1">
					<h1 class="mb-10 xs-mb-10 heading color-dark heading-bordered">INDIVIDUAL<br class=hidden-xs>STANDINGS</h1>
				</div>
				<div class="col-sm-5 col-sm-offset-1">
					<h2 class="w-300 color-dark mb-10 xs-mb-10">Breaktime is Showtime</h2>
					<p class="xs-mw">You are not playing for fun, you are representing your cohort</p>
				</div>
			</div>
		</div>

<!-- *********************   ranking table ******************************************* -->
				<div class="bootstrap-demo">
			<table class="table table-bordered"> <!-- bordered table class -->
			        <thead><!-- table head-->
			            <tr>
			               	<th>Rank</th>
			                <th>Player</th>
			                <th>Record</th>
			              	<th>Cohort</th>
			            </tr>
			        </thead>
					
			        <tbody>
			        <% x=1 %>
			        <% @opponents.each do |m| %>
			            <tr><!-- Row 1 -->
			                <td><%= x %></td>
			                <td><%= m.name.capitalize%></td>
			                <td><%= m.wins %> - <%= m.losses %></td>
			                <td><%= m.cohort %></td>
			            </tr>
			            <% x+=1%>
			            <%end%>
			           
				   </tbody>
			</table>
 		</div>
 		<br>
 		<br>


		


	</div>
	<div class="footer text-center">
	<p class="fmenu">
		<a href="index.html">HOME</a> | <a href="http://www.github.com/wiredecho.html">ABOUT</a>
	</p>

	</div>		

	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.1.min.js"><\/script>')</script>

	<script src="assets/bootstrap.min.js"></script>
	<script src="assets/dropdown.js"></script>

	<script src="assets/main.js"></script>
	<!-- //-end- concat_js -->


	

</body>
</html>
